section.about
  .about__cont.cont
    .about__area
      .about__left
        h3.about__title.h3 Астрологический прогноз
        .about__slider(data-element="about-slider")
          .about__wrapper.swiper-wrapper
            each item in [1,2,3,4]
              .about__slide.swiper-slide
                picture.about__picture
                  source(srcset=staticImg(`about/about-${item}_232.webp`) + " 1x, " + staticImg(`about/about-${item}_464.webp`) + " 2x" type="image/webp" media="(max-width: 767px)")
                  source(srcset=staticImg(`about/about-${item}_242.webp`) type="image/webp" media="(max-width: 1439px)")
                  source(srcset=staticImg(`about/about-${item}.webp`) type="image/webp")
                  source(srcset=staticImg(`about/about-${item}_232.png`) + " 1x, " + staticImg(`about/about-${item}_464.png`) + " 2x" media="(max-width: 767px)")
                  source(srcset=staticImg(`about/about-${item}_242.png`) media="(max-width: 1439px)")
                  img.about__image(src=staticImg(`about/about-${item}.png`) alt='' loading='lazy')
          .about__slider-nav
            button.slider-nav-prev(type='button')
            button.slider-nav-next(type='button')
      .about__right
        .about__box#about
          h2.about__headline.h2 О приложении
          p.about__text.text
            | Приложение AstroStar – это всегда актуальные персональные гороскопы на каждый день.
            | А специальный
            |
            span.blue промокод
            |
            | превращает его в полноценного персонального астролога!
          p.about__text.text
            | Добавьте к прогнозу на день или два гороскоп на неделю и даже на целый месяц! Прочтите, какие тайны
            | скрывают линии на вашей ладони, проверьте совместимость с любым человеком и заранее узнавайте обо всех
            | самых важных и влияющих на вас звёздных аспектах.
          p.about__text.text
            | Просто выбирайте
            |
            span.blue промокод
            |
            | , который подходит именно вам — на месяц, полгода или целый год. Пришло время
            | раскрыть все секреты и потаённые уголки собственной натальной карты!
