section.cap
  .cap__cont.cont
    .cap__area
      h1.cap__title.title!= 'Выберите лучший билет в мир <span class="purple">TestProject</span>!'
      .cap__text
        span.purple Промокоды TestProject
        |
        | – ваш билет на VIP-места в увлекательном путешествии по миру астрологии и эзотерики!
      .cap__button-box
        picture.cap__button-decor
          source(srcset=staticImg('cap/cap-button-decor_105.png') media="(max-width: 768px)")
          source(srcset=staticImg('cap/cap-button-decor_131.png') media="(max-width: 1439px)")
          img.cap__button-decor-image(src=staticImg('cap/cap-button-decor_180.png') alt='')
        a.cap__button.btn.btn_green(href="#") Купить промокод
      picture.cap__picture
        source(srcset=staticImg(`cap/cap-1_326.webp`) + " 1x, " + staticImg(`cap/cap-1_652.webp`) + " 2x" type="image/webp" media="(max-width: 768px)")
        source(srcset=staticImg(`cap/cap-1_447.webp`) media="(max-width: 1439px)")
        source(srcset=staticImg(`cap/cap-1_657.webp`))
        img.cap__image(src=staticImg('cap/cap-1_657.png') alt='')
      .cap__apps
        a.cap__app(href="#")
          img.cap__app-icon(src=staticImg('ic_app_store.svg') alt='')
        a.cap__app(href="#")
          img.cap__app-icon(src=staticImg('ic_google_app.svg') alt='')
