-
  const texts = [
    'В своём стремлении повысить качество жизни, они забывают, что новая модель организационной деятельности обеспечивает широкому кругу (специалистов) участие в формировании поэтапного и последовательного развития общества. В целом, конечно, синтетическое тестирование требует от нас анализа существующих финансовых и административных условий. В целом, конечно, начало повседневной работы по формированию позиции требует анализа поставленных обществом задач. С другой стороны, семантический разбор внешних противодействий обеспечивает актуальность переосмысления внешнеэкономических политик. Внезапно, некоторые особенности внутренней политики могут быть призваны к ответу.',
    'Учитывая ключевые сценарии поведения, постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет оценить значение модели развития. А также стремящиеся вытеснить традиционное производство, нанотехнологии призваны к ответу. Кстати, непосредственные участники технического прогресса являются только методом политического участия и объединены в целые кластеры себе подобных.'
  ]

section.policy
  .policy__cont.cont
    .policy__wrap
      a.policy__back(href='index.html')
        .policy__back-btn
        .policy__back-note Назад
      .policy__content
        h1.policy__title.h2 Политика конфиденциальнос&shy;ти
        each item in [1,2]
          h2.policy__headline.h4 Пункт 1.1
          p.policy__text.text= texts[0]
          p.policy__text.text= texts[1]
          h2.policy__headline.h4 Пункт 2.1
          p.policy__text.text= texts[0]
          p.policy__text.text= texts[1]
          p.policy__text.text= texts[0]
          p.policy__text.text= texts[1]
      a.policy__button.btn.btn_blue(href='index.html') На главную
